<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layout}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Begin Page Content -->
        <div layout:fragment="content" class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mb-3">
                </td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Create / Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row g-3">


                            <div class="col-md-6">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control">
                            </div>


                            <div class="col-md-6">
                                <label class="form-label">Short Description</label>
                                <input type="text" class="form-control">
                            </div>


                            <div class="col-12">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>


                            <div class="col-12">
                                <label class="form-label">Specification</label>
                                <textarea class="form-control" rows="2"></textarea>
                            </div>


                            <div class="col-md-4">
                                <label class="form-label">Price</label>
                                <input type="number" class="form-control">
                            </div>


                            <div class="col-md-4">
                                <label class="form-label">Discount (%)</label>
                                <input type="number" class="form-control">
                            </div>


                            <div class="col-md-4">
                                <label class="form-label">Barcode</label>
                                <input type="number" class="form-control">
                            </div>


                            <div class="col-md-6">
                                <label class="form-label">Category ID</label>
                                <input type="number" class="form-control">
                            </div>


                            <div class="col-md-6">
                                <label class="form-label">Colors (comma separated)</label>
                                <input type="text" class="form-control">
                            </div>


                            <div class="col-12">
                                <label class="form-label">Photos URL (comma separated)</label>
                                <input type="text" class="form-control">
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

</body>

</html>