<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

</head>

<body>
<div layout:fragment="content">
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Shop</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->



    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div  class="col-12 col-md-4 col-lg-3 mb-5" th:each="shop:${shops}">
                    <a class="product-item" th:href="@{/product/{id}(id=${shop.id})}">
                        <img th:src="${shop.imageUrl}" class="img-fluid product-thumbnail">
                        <h3 th:text="${shop.name}"class="product-title">Nordic Chair</h3>
                        <strong th:text="${shop.price}" class="product-pri ce">$50.00</strong>
                        <form th:action="@{/cart/add}" method="post" class="add-to-cart-form">
                            <input type="hidden" name="productId" th:value="${shop.id}" />
                            <button type="submit" class="icon-cross-btn">
                                   <span class="icon-cross">
								<img src="/front/images/cross.svg" class="img-fluid">
							</span>
                            </button>
                        </form>

                    </a>
                </div>
                <!-- End Column 1 -->
            </div>
        </div>
    </div>



</div>
</body>
</html>